//COLORS
$color-primary-light: #80d671;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-white: #ffffff;
$color-grey-dark: #777777;
$color-grey-dark-1: #333333;
$color-black: #000; 
          

$color-grey-light: #f7f7f7;
$color-grey-light-1: #eeeeee;

 
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
  
//FONT
$default-font-size: 1.6rem;
    
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;  
       