.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all 0.2s;
    outline-offset: 2rem;
    @include respond(tab-port){
      position: relative;
      float: left;
      width: calc(100%/3);
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);

    } 

    &--p1 {
      top: -2rem;
      left: 0;
    @include respond(tab-port){
      top: 0;
      transform: scale(1.2);

    }
    }
    &--p2 {
      top: 2rem;
      right: 0rem;
      @include respond(tab-port){
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;

      }
    }
    &--p3 {
      top: 10rem;
      left: 20%;
      @include respond(tab-port){
        left: 0;
        top: 1rem;
        transform: scale(1.1);
      }
    } 


    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.1) translateY(-2rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 2;
    }
  }

  &:hover &__photo:not(:hover){
      transform: scale(.9);
  }
}
